################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TrueSign
/ConnectionExample/obj/Debug
/TrueSign.Shared/obj
/packages
/.vs
/ConnectionExample/bin/Debug
/Tester
/UpgradeLog.htm
/Backup
/Tester/bin/Debug
/ConnectionExample/obj/Release
