################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TrueSign
/ConnectionExample/obj/Debug
/TrueSign.Shared/obj
